<div class=" container p-0 m-0 infobtn">
  <svg  data-toggle="collapse" href="#collapseExample"   xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle float-right" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
  </svg>
  <div id="collapseExample" class="collapse show bg-primary container float-left">
    <p>
      This demo in to show the features of angular-mouse-textbox I desided
      to activate the directive [mousetextbox]=true when the use mouse is down.

      Z-Index of this container is 1. Increase the zindex to see the text box in this part of the webpage
    </p>
    <div class="form-group row">
      <label for="speedInput" class="col-sm-3 col-form-label">z-index</label>
      <div class="col-sm-9">
        <input [(ngModel)]="zindex" type="range" class="form-range form-control" min="0" max="10" step="1" id="speedInput">
      </div>
    </div>
  </div>
</div>
<div [mousetextbox]="down>0" [textIn] = "strValue" [zindex]="zindex"></div>
